.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar-row:hover {
    background-color: lightgray;
    border-radius: 10px;
}
 
.sidebar-row > h4 {
    margin-left: 20px;
    font-weight: 600;
} 

.sidebar-row > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}